<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.embraces.phoenix.mapper.SaleNNMapper">
	<select id="listByRowkey" resultType="SaleNN">
		SELECT * FROM "SALENN" WHERE "rowkey"=#{rowkey}
	</select>

	<select id="listByRowkeys" resultType="SaleNN">
		SELECT * FROM "SALENN" WHERE "rowkey" in
		<foreach item="rowkey" index="index" collection="list" open="("
			separator="," close=")">
			#{rowkey}
		</foreach>
	</select>

    <select id="listByTrainDate" resultType="SaleNN">
        SELECT * FROM "SALENN" WHERE "rowkey" in ( 
          select "sale_nn_rk" from "IDNOTRAINDATE" 
          where "rowkey" <![CDATA[ >= ]]> #{idno}||#{startDate} and "rowkey" <![CDATA[ <= ]]> #{idno}||#{endDate} 
        )
    </select>
    
    <select id="listBySaleTime" resultType="SaleNN">
        SELECT * FROM "SALENN" WHERE "rowkey" in ( 
           select "sale_nn_rk" from "IDNOSALETIME"
           where "rowkey" <![CDATA[ >= ]]> #{idno}||#{startTime} and "rowkey" <![CDATA[ <= ]]> #{idno}||#{endTime} 
        )
    </select>
     
     

</mapper>